@model IList<Umi.Core.Endpoint>
<!DOCTYPE html>
<html>
<head>
    <title>Umi</title>
    <style>
        body {
            background-color: #EFEFEA;
            margin: 0px;

        }
        * {

            font-family: "Open-Sans", Arial, "Sans-Serif";
        }
        header {
            margin: 0px;
            padding: 1% 22%;
            background-color: #c0e4f1;
            width: 56%;
            height: 5%;
            color: #338ba4;
            background-image: url('/umi/assets/logoUmi.png');
            background-size: 86px;
            background-repeat: no-repeat;
            background-position-y: 50%;
            background-position-x: 8%;
        } 
        article {
            margin: 0px;
            padding: 1% 5%;
            width: 50%;
            margin: 0px auto;
            height: 95%;
            background-color: #FFF;
        }
        .endpoint {
            color: #87A9FF;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <header>
        <h1>Status page</h1>

    </header>
    <article>
        @if (Model.Any())
        {
        <p>
            These application Uri's are currently present.
        </p>

        <ul>
            @foreach (var item in Model)
            {
                <li>
                   <a href="@item.Uri" class="endpoint">@item.Uri</a>
                   
                </li>
            }
        </ul>
        }
        else
        {
        <p>
            No endpoints registered, to register some please include using Umi.Core and;
        </p>
        <ul>
            <li><pre>"string.with.url".RegisterAsEndpoint()</pre></li>
            <li><pre>new Uri().RegisterAsEndpoint()</pre></li>
            <li>
                <pre>
                -- Todo -
                -app.UseUmi(options =>
                { 
                    options.ScaffoldWfc = true;
                });
                </pre>
            </li>
        </ul>
        }
    </article>
</body>
</html>